<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>用户协议</title>
	<link rel="stylesheet" href="css/common.css">
	<style>
		.main {
			padding-top: 55px;
		}

		h2 {
			font-size: 24px;
			text-align: center;
			font-weight: 400;
		}

		h3 {
			font-size: 18px;
			font-weight: 400;
			margin-top: 20px;
		}
		.main p {
			line-height: 30px;
			font-size: 16px;
			text-indent: 2em;
		}
		.footer {
			margin-top: 50px;
		}
		.ewmbox {
			margin-right: 0px;
		}
		.main div {
			margin-top: 20px;
		}
	</style>
</head>
<body>
<!--头部导航开始-->
<div class="header">
	<div class="container clearfix">
		<div class="nav-left fl">
			<ul class="clearfix">
				<li class="fl"><a href="index.html">最新会议</a></li>
				<li class="fl"><a href="hisconf.html">历史会议</a></li>
				<li class="fl"><a href="confinfo.html">会议资讯</a></li>
				<li class="fl"><a href="per.html">个人中心</a></li>
			</ul>
		</div>
		<div class="nav-right fr clearfix">
			<div class="search fl" id="navSearch">
				<input type="text" placeholder="请输入关键字查询更多会议">
				<span></span>
			</div>
			<div class="assistant fl">
				<img src="img/t2.png">
				<a href="setconf.html">发起会议</a>
			</div>
			<div class="assistant fl">
				<img src="img/t3.png">
				<!--<a href="!COMMANDPARAM(149,OPType=4,WMID=10654048)" target="_blank">小秘书</a>-->
				<a href="javascript:void(0);" onclick="javascript:window.location.href='!COMMANDPARAM(149,OPType=4,WMID=10654048)'">小秘书</a>
			</div>
		</div>
	</div>
</div>
<!--头部导航结束-->
<!--中部主体开始-->
<div class="main container">
	<h2>用户协议</h2>
	<div>
		<p>
			3C中国财经会议(简称3C 会议)是Wind 资讯打造的专业金融路演平台，凭借优越的通话质量、极速的远程共享体验、便捷安全的参会流程、高端贴心的增值服务，为金融机构及企业提供IR 管理、项目推广、行业研讨等专业电话会议服务，感受全新的交流、交互体验。
			为了保护用户创造的内容、维护良好的平台氛围，3C中国财经会议平台的管理员依据平台标准和立场对用户和发布在本平台的内容进行管理。采取的措施包括但不限于更改或删除用户发布的内容、暂停或终止路演的权利，而无需征求用户意见，也无需向用户公开。
		</p>
	</div>

	<h3>版权申明</h3>
	<div>
		<p>未经万得信息书面授权许可，任何机构或个人不得以任何形式复制、引用会议内容观点，包括不得制作镜像及提供指向链接，万得信息就此保留一切法律权利。</p>
	</div>

	<h3>免责申明</h3>
	<div>
		<p>
			本平台所引述机构或个人的观点、言论、数据及其他信息仅作参考和资讯传播之目的，不代表万得信息赞同其观点或证实其描述。任何机构和个人据此资讯投资所产生的一切责任和后果自负，概与资讯提供方无关。
		</p>
	</div>

	<h3>平台规范</h3>
	<div>
		<p>3C中国财经路演平台不允许发布以下内容：</p>
		<p>（1）违反宪法确定的基本原则；</p>
		<p>（2）违反中国爱人们共和国相关法律法规的行为和内容 ；</p>
		<p>（3）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一 ；</p>
		<p>（4）损害国家荣誉和利益 ；</p>
		<p>（5）煽动民族仇恨、民族歧视，破坏民族团结 ；</p>
		<p>（6）破坏国家宗教政策，宣扬邪教和封建迷信 ；</p>
		<p>（7）散布谣言，扰乱社会秩序，破坏社会稳定 ；</p>
		<p>（8）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪 ；</p>
		<p>（9）侮辱或者诽谤他人，侵害他人合法权益 ；</p>
		<p>（10）含有法律、行政法规禁止的其他内容的信息 ；</p>
		<p>（11）泄露他人隐私、行政法规禁止的其他内容的信息；</p>
		<p>（12）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序。</p>
	</div>
</div>
<!--底部开始-->
<div class="footer">
	<!--footer中部,详情-->
	<div class="footer-detail container clearfix">
		<!--footer中部左边,二维码-->
		<div class="footer-left footer-width fl clearfix">
			<div class="ewmbox fl">
				<img src="img/b1.png">
				<p>公众微信号</p>
			</div>
			<div class="ewmbox fl">
				<img src="img/erweima.jpg">
				<p>Wind资讯APP下载</p>
			</div>
		</div>
		<!--footer中部中间,联系方式-->
		<div class="footer-middle footer-width fl">
			<div class="contact">
				<div class="contact-img"><img src="img/tel.png"></div>
				<div class="contact-info">
					<p>客服电话</p>
					<p>025-68673555转0</p>
				</div>
			</div>
			<div class="contact">
				<div class="contact-img"><img src="img/mail.png"></div>
				<div class="contact-info">
					<p>服务邮箱</p>
					<p><a href="Mailto:3C@wind.com.cn">3C@wind.com.cn</a></p>
				</div>
			</div>
		</div>
		<!--footer中部右侧,下载-->
		<div class="footer-right footer-width fl">
			<div class="download-img"><img src="img/win.png"></div>
			<div class="download">
				<p>软件下载</p>
				<p><a href="http://www.wind.com.cn/NewSite/wft.html" id="softwareDownload">桌面共享windows版本</a></p>
				<p><a href="#">用户协议</a></p>
			</div>

		</div>
	</div>
	<!--footer底部,合作伙伴-->
	<div class="friend container">
		<p class="fl"><img src="img/partner.png"></p>
		<ul class="clearfix" id="friendList">
			<!--<li class="fl"><a href="#">光大证券</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
			<!--<li class="fl"><a href="#">国信证券</a></li>-->
			<!--<li class="fl"><a href="#">招商证券</a></li>-->
			<!--<li class="fl"><a href="#">汇添富基金</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
			<!--<li class="fl"><a href="#">汇添富基金</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
		</ul>
	</div>
</div>
<!--底部结束-->
<script src="lib/jquery.js" type="text/javascript"></script>
<script src="lib/json2.js"></script>
<script src="lib/layer/layer.js"></script>
<script src="lib/template-native.js" type="text/javascript"></script>
<script id="friendTpl" type="text/html">
	<% for (var f = 0; f < friendList.length; f++) { %>
	<li class="fl"><a href="http://<%= friendList[f].url %>" target="_blank"><%= friendList[f].institutionName %></a></li>
	<% } %>
</script>
<script>
//功能点数据来源
window.localStorage.setItem('currentPage', '用户协议');
</script>
<script src="js/common.js"></script>
<script>
	renderFriendList();
</script>
</body>
</html>