<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>搜索会议</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/search.css">
</head>
<body>
<!--头部导航开始-->
<div class="header">
	<div class="container clearfix">
		<div class="nav-left fl">
			<ul class="clearfix">
				<li class="fl"><a href="index.html">最新会议</a></li>
				<li class="fl"><a href="hisconf.html">历史会议</a></li>
				<li class="fl"><a href="confinfo.html">会议资讯</a></li>
				<li class="fl"><a href="per.html">个人中心</a></li>
			</ul>
		</div>
		<div class="nav-right fr clearfix">
			<div class="search fl" id="navSearch">
				<input type="text">
				<span></span>
			</div>
			<div class="assistant fl">
				<img src="img/t2.png">
				<a href="setconf.html">发起会议</a>
			</div>
			<div class="assistant fl">
				<img src="img/t3.png">
				<!--<a href="!COMMANDPARAM(149,OPType=4,WMID=10654048)" target="_blank">小秘书</a>-->
				<a href="javascript:void(0);" onclick="javascript:window.location.href='!COMMANDPARAM(149,OPType=4,WMID=10654048)'">小秘书</a>
			</div>
		</div>
	</div>
</div>
<!--头部导航结束-->
<!--中部开始-->
<div class="main container">
	<div class="search-box">
		<div>
			<input id="searchInput" type="text" placeholder="请输入关键字">
			<span id="searchBtn"></span>
		</div>
		<p class="search-tip">共找到<span id="searchCount">0</span>个有关“ <span id="searchTipText">您要搜索</span> ”的会议</p>
	</div>
	<table class="table-content">
		<thead>
		<tr>
			<th class="conf-date">日期</th>
			<th class="conf-time">时间</th>
			<th class="conf-title">主题</th>
			<th class="conf-handle">操作</th>
			<th class="conf-master">主办方</th>
			<th class="conf-speach">主讲人</th>
		</tr>
		</thead>
		<tbody id="hisConfBox">
		<!--<tr>-->
		<!--<td class="conf-date">07-27（周三）</td>-->
		<!--<td class="conf-time">10:00-11:30</td>-->
		<!--<td class="conf-title"><a href="#">727大震荡重要电话会议：华泰金融深度解读金融监管新风向影响</a></td>-->
		<!--<td class="conf-handle">-->
		<!--<a href="#">听录音</a>-->
		<!--</td>-->
		<!--<td class="conf-master">华泰证券</td>-->
		<!--<td class="conf-speach">罗毅</td>-->
		<!--</tr>-->
		</tbody>
	</table>
	<!--分页开始-->
	<div class="page-index" id="pageIndex">
		<!--<li id="prePage" class="pre-page"><a href="#">&lt;上一页</a></li>-->
		<!--<li class="page-num"><a href="#">1</a></li>-->
		<!--<li class="page-num"><a href="#">2</a></li>-->
		<!--<li class="page-num"><a href="#">3</a></li>-->
		<!--<li id="nextPage" class="next-page"><a href="#">下一页&gt;</a></li>-->
	</div>
	<!--分页结束-->
</div>
<!--中部结束-->



<!--底部开始-->
<div class="footer">
	<!--footer中部,详情-->
	<div class="footer-detail container clearfix">
		<!--footer中部左边,二维码-->
		<div class="footer-left footer-width fl clearfix">
			<div class="ewmbox fl">
				<img src="img/b1.png">
				<p>关注公共微信号</p>
			</div>
			<div class="ewmbox fl">
				<img src="img/erweima.jpg">
				<p>wind手机客户端下载</p>
			</div>
		</div>
		<!--footer中部中间,联系方式-->
		<div class="footer-middle footer-width fl">
			<div class="contact">
				<div class="contact-img"><img src="img/tel.png"></div>
				<div class="contact-info">
					<p>客服电话</p>
					<p>025-68673555转0</p>
				</div>
			</div>
			<div class="contact">
				<div class="contact-img"><img src="img/mail.png"></div>
				<div class="contact-info">
					<p>邮箱</p>
					<p><a href="Mailto:3C@wind.com.cn">3C@wind.com.cn</a></p>
				</div>
			</div>
		</div>
		<!--footer中部右侧,下载-->
		<div class="footer-right footer-width fl">
			<div class="download-img"><img src="img/win.png"></div>
			<div class="download">
				<p>软件下载</p>
				<p><a href="http://114.80.212.2/windftp/wind.net/WFT_Setup_CHS.zip" id="softwareDownload">桌面共享windows版本</a></p>
				<p><a href="agreement.html" target="_blank">用户协议</a></p>
			</div>

		</div>
	</div>
	<!--footer底部,合作伙伴-->
	<div class="friend container">
		<p class="fl"><img src="img/partner.png"></p>
		<ul class="clearfix" id="friendList">
			<!--<li class="fl"><a href="#">光大证券</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
			<!--<li class="fl"><a href="#">国信证券</a></li>-->
			<!--<li class="fl"><a href="#">招商证券</a></li>-->
			<!--<li class="fl"><a href="#">汇添富基金</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
			<!--<li class="fl"><a href="#">汇添富基金</a></li>-->
			<!--<li class="fl"><a href="#">银华基金</a></li>-->
		</ul>
	</div>
</div>
<!--底部结束-->
</body>
<script src="lib/jquery.js"></script>
<script src="lib/json2.js"></script>
<script src="lib/layer/layer.js"></script>
<script src="js/common.js"></script>
<script src="lib/laypage/laypage.js"></script>
<script src="lib/template-native.js"></script>
<script id="friendTpl" type="text/html">
	<% for (var f = 0; f < friendList.length; f++) { %>
	<li class="fl"><a href="http://<%= friendList[f].url %>" target="_blank"><%= friendList[f].institutionName %></a></li>
	<% } %>
</script>
<script id="searchConf" type="text/html">
	<% if (list.length == 0) { %>
	<tr>
		<td class="conf-date"></td>
		<td class="conf-time"></td>
		<td class="conf-title"><a href="javascript:void(0)">暂无数据</a></td>
		<td class="conf-handle">
			<a href="#"></a>
		</td>
		<td class="conf-master"></td>
		<td class="conf-speach"></td>
	</tr>
	<% } else { %>
	<% for (var i = 0, len = list.length; i < len; i++) { %>
	<% if(list[i].meetingType != 'PRIVITE') { %>
	<tr data-confId="<%= list[i].id %>">
		<td class="conf-date"><%= list[i].confTime[1] %>(<%= list[i].confTime[2] %>)</td>
		<td class="conf-time"><%= list[i].confTime[3] %></td>
		<td class="conf-title">
			<a href="confdetail.html?id=<%= list[i].id %>" title="<%= list[i].title %>" target="_blank">
				<%= list[i].title %>
			</a>
		</td>
		<td class="conf-handle">
			<% if (list[i].meetingStatus == 'ENDED') { %>
				<% if(!list[i].pdfId && !list[i].audioId && !list[i].videoId) { %>
					<a href="javascript:void(0)" class="urlblank">会议结束</a>
				<% } else { %>
					<% if (list[i].pdfId != 0) { %>
					<a href="#" data-documentid="<%= list[i].pdfId %>" class="read-doc-for-pdf">
						看速记
					</a>
					<% } %>
					<% if (list[i].audioId != 0) { %>
						<a href="#" data-documentid="<%= list[i].audioId %>" class="read-doc-for-audio" title="<%= list[i].title %>"  data-lecturers="
							<% for(var j = 0; j < list[i].lecturers.length; j++) { %>
							<%= list[i].lecturers[j].name %>
							<% } %>
						">
							听录音
						</a>
					<% } %>
					<% if (list[i].videoId != 0) { %>
						<a href="#" data-documentid="<%= list[i].videoId %>" class="read-doc-for-video">
							看视频
						</a>
					<% } %>
				<% } %>
			<% } else if (list[i].meetingStatus == 'PUBLISHED') {%>
				<!--如果已经报名-->
				<% if (list[i].signupStatus) { %>
					<a href="javascript:void(0)" class="urlblank" data-statusMark="true">您已报名</a>
				<% } else { %>
				<!--如果没有报名但报名人数满了-->
					<% if(list[i].signupNum == list[i].capacity) { %>
						<a href="javascript:void(0)" class="urlblank" data-statusMark="full">人数已满</a>
					<% } else { %>
				<!--如果没有报名且报名人数未满-->
						<a href="javascript:void(0)" id="justSignUp" class="just-sign-up" data-statusMark="false" data-meetingid="<%= list[i].id %>">立即报名</a>
					<% } %>
				<% } %>
			<% } else if (list[i].meetingStatus == 'STARTED') { %>
				<!--如果已经报名，可以直接参会-->
				<% if (list[i].signupStatus) { %>
					<a href="javascript:void(0)" id="justJoin" class="just-join-it" data-statusMark="true" data-meetingid="<%= list[i].id %>">
				<% } else { %>
					<!--如果没有报名，先报名，再参会-->
					<a href="javascript:void(0)" id="justJoin" class="just-join-it" data-statusMark="false" data-meetingid="<%= list[i].id %>">
				<% } %>
					立即参会
					</a>
			<% } else if (list[i].meetingStatus == 'CANCELED') { %>
				<a href="javascript:void(0)" class="urlblank" data-statusMark="canceled">已取消</a>
			<% } %>
		</td>
		<td class="conf-master" title="<% for(var k = 0; k < list[i].sponsors.length; k++) { %> <%= list[i].sponsors[k].name %> <% } %>">
			<% for(var m = 0; m < list[i].sponsors.length; m++) { %>
			<%= list[i].sponsors[m].name %>
			<% } %>
		</td>

		<% if(list[i].lecturers[0]) { %>
			<% if(list[i].lecturers[0].title) { %>
				<td class="conf-speach" title="<%= list[i].lecturers[0].name %> [<%= list[i].lecturers[0].title %>]"><%= list[i].lecturers[0].name %>[<%= list[i].lecturers[0].title %>]</td>
			<% } else { %>
				<td class="conf-speach" title="<%= list[i].lecturers[0].name %>"><%= list[i].lecturers[0].name %></td>
			<% } %>
		<% } else { %>
				<td class="conf-speach"> </td>
		<% } %>
	</tr>
	<% } %>
	<% } %>
	<% } %>
</script>
<script src="js/search.js"></script>
</html>