/*Code Reset begin*/
body {
	font-family: "Microsoft YaHei", "SimSun", "SimHei", "Arial", sans-serif;
	font-size: 16px;
	background: #fff;
	min-width: 1200px;
	_width: 1200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

a:hover {
	color: #7e7e7e;
	text-decoration: none;
}

i, em {
	font-style: normal;
}

li {
	list-style: none;
}

input {
	border: 0;
	font-family: "Microsoft YaHei", "SimSun", "SimHei", "Arial", sans-serif;
}

img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	word-wrap: break-word;
}

h2 {
	font-size: 28px;
	font-weight: lighter;
}

h3 {
	font-size: 18px;
	font-weight: lighter;
}

/* Code Reset end*/
/*Code Common begin*/
.clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

/*.main.container {*/
/*min-height: 480px;*/
/*}*/

.fl {
	float: left;
}

.fr {
	float: right;
}

.current-page {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e80313;
}

.nav-left .current-page a {
	color: #ffffff;
}

/*header B*/
.header {
	position: relative;
	width: 100%;
	height: 45px;
	/*margin-top: -45px;*/
	z-index: 999;
	background-color: #eff2f6;
	border: 1px solid #d0d6de;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-left ul li {
	text-align: center;
}

.nav-left ul li a {
	display: inline-block;
	*display: inline;
	width: 120px;
	height: 45px;
	line-height: 45px;
	color: #000;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.nav-left ul li a:hover {
	color: #dfdfdf;
	background-color: #ff3643;
}

.nav-right {

}

.search {
	position: relative;
	width: 266px;
	height: 35px;
	margin-right: 30px;
}

.search input {
	position: absolute;
	left: 0;
	top: 8px;
	width: 240px;
	font-size: 14px;
	padding: 5px 25px 5px 16px;
	border: 1px solid #678fd6
}

.search span {
	position: absolute;
	right: -15px;
	top: 11px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url(../img/t1.png) no-repeat center;
}

.assistant {
	position: relative;
	text-align: center;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.assistant:hover {
	background-color: #fff;
}

.assistant:hover a {
	color: #000;
}

.assistant img {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 25px;
	height: 25px;
}

.assistant a {
	display: inline-block;
	*display: inline;
	width: 120px;
	height: 45px;
	line-height: 45px;
	color: #515151;
}

.assistant.personal img {
	position: relative;
	left: -8px;
	width: 10px;
	height: 8px;
}

.assistant.personal .slidedown {
	display: none;
}

.assistant.personal .slidedown li a {
	/*border: 1px solid red;*/
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.assistant.personal .slidedown li a:hover {
	background-color: #e4e4e4;
}

/*header E*/

.main {
	/*margin-top: 45px;*/
	padding-top: 10px;
	min-height: 635px;
}

/*footer B*/
.footer {
	width: 100%;
	height: 230px;
	background-color: #f4f4f4;
	/*position: absolute;*/
	/*bottom: 0;*/
	z-index: 9999;
}

.footer-detail {
	/*width: 100%;*/
	padding: 36px 0 0 0;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-width {
	width: 30%;
}

/*footer left*/
.footer-left img {
	width: 84px;
	height: 84px;
}

.ewmbox {
	margin-bottom: 22px;
	margin-right: 20px;
	color: #666666;
	font-size: 12px;
}

.ewmbox img {
	margin-bottom: 10px;

}

/*footer middle*/
.contact img,
.download-img img {
	width: 44px;
	height: 44px;
}

.contact-img {
	margin-right: 10px;
}

.contact-info {
	text-align: left;
}

.contact-info p {

}

.contact div,
.footer-right div {
	display: inline-block;
	*display: inline;
	vertical-align: top;
}

.contact-info p {
	margin-bottom: 6px;
	color: #666;
	font-size: 14px;
}

/*footer right*/

.download {
	text-align: left;
}

.download p,
.download p:last-child a {
	margin-bottom: 6px;
	color: #666;
	font-size: 14px;
}

.download p:last-child a:hover {
	color: #a0a0a0;
}

.download p a {
	color: #2196f3;
}

.download p a:hover {
	color: #6ab7f5;
}

/*footer bottom*/
.friend {
	font-size: 14px;
	padding: 16px 0 0 0;
}

.friend p {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.friend ul li a {
	*display: inline;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #455e8b;

	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/*footer E*/

/*change page B*/
.page-index {
	position: absolute;
	height: 32px;
	margin: 0 auto;
	text-align: center;
	right: 0;
	bottom: -35px;
}

/*.page-index li {*/
/*display: inline-block;*/
/*}*/

/*.page-index .page-num a {*/
/*display: inline-block;*/
/**display: inline;*/
/*width: 32px;*/
/*height: 32px;*/
/*line-height: 32px;*/
/*text-align: center;*/
/*}*/

/*.page-num-active {*/
/*background-color: #e4e4e4;*/
/*}*/
/*change page E*/
/*table B*/
table {
	table-layout: fixed;
!important;
}

.table-content {
	width: 100%;
	/*border: 1px solid #d0d6de;*/
}

.table-content thead {
	height: 34px;
	line-height: 34px;
	color: #ffffff;
	background-color: #5470b5;
	/*background-color: #3f8de8;*/
}

.table-content thead tr th {
	border-left: 1px solid #fff;
	/*border-right: 1px solid #fff;*/
}

.table-content tbody {
	/*height: 34px;*/
	/*line-height: 34px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content tbody tr {
	height: 48px;
	line-height: 48px;
}

.table-content tbody td {
	/*width: 135px;*/
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-content .conf-date {
	width: 100px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content .conf-time {
	width: 100px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content .conf-title {
	/*display: inline-block;*/
	width: 390px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content td.conf-title {
	text-align: left;
	padding: 0 10px;
}

.table-content .conf-handle {
	width: 140px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content .conf-handle a {
	color: #2196f3;
}

.table-content .conf-master {
	width: 170px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content .conf-speach {
	width: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table-content .conf-speach {
	font-size: 14px;
	padding: 0 10px;
	text-align: left;
}

.table-content th.conf-speach {
	text-align: center;
}

.table-content tbody tr:hover {
	background-color: #f0f0f0;
}

.table-content .conf-title a {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	/*padding-left: 10px;*/
}

.table-content .conf-master {
	/*display: inline-block;*/
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-content td.conf-master {
	text-align: left;
	padding: 0 10px;
}

/*table E*/

/*float-div B*/
.float-div {
	position: fixed;
	left: 0;
	top: 0;
	border: 1px solid red;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.float-info {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1000;
	width: 400px;
	height: 250px;
	border: 1px solid #a0a0a0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	background-color: #fff;
}

.float-div-success .float-info {
	background-color: #53b2fe;
}

.float-div.float-div-success p {
	width: 150px;
	margin: 60px auto;
	color: #ffffff;
}

.float-info span {
	display: inline-block;
	*display: inline;
}

.float-info p {
	margin-top: 60px;
	padding: 20px 20px;
	text-align: left;
}

.float-cancel {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.float-confirm {
	/*margin: 10px auto;*/
	position: absolute;
	left: 150px;
	bottom: 20px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #53b2fe;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff;
	background-color: #53b2fe;
	cursor: pointer;
}

.float-div-success .float-confirm {
	background-color: #fff;
	color: #53b2fe;
}

/*float-div E*/
/*立即报名和立即参会颜色不同*/
.just-join-it {
	color: #3f8de8;
}

.just-sign-up {
	color: #f00;
}

/*Code Common end*/

.anchor-color-blue {
	color: #3f8de8;
}

/*switch button css*/
.button-switch {
	width: 26px;
	height: 14px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}

.button-switch:before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 0px;
	left: 0;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.button-switch:checked {
	border-color: #64bd63;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}

.button-switch:checked:before {
	left: 13px;
}

.button-switch.button-switch-animbg {
	transition: background-color ease 0.4s;
}

.button-switch.button-switch-animbg:before {
	transition: left 0.3s;
}

.button-switch.button-switch-animbg:checked {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: #64bd63;
	transition: border-color 0.4s, background-color ease 0.4s;
}

.button-switch.button-switch-animbg:checked:before {
	transition: left 0.3s;
}