.main.container {
	min-height: 691px;
}

.table-content tbody td {
	width: 200px;
	text-align: center;
}
.table-content .conf-addr {
	width: 150px;
	font-size: 14px;
}
.table-content .conf-date {
	width: 140px;
}
.table-content td.conf-date {
	width: 180px;
	text-align: left;
	font-size: 14px;
}

.table-content .conf-title td {
	text-align: left;
}


.footer {
	/*position: absolute;*/
	/*bottom: 0;*/
}

#diyDate {
	position: relative;
}

#diyDatePicker {
	position: absolute;
	left: 0;
	top: 0;
	width: 340px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #eff2f6;
	border: 1px solid #d0d6de;
	z-index: 99999;
}

#diyDatePicker input {
	border: 1px solid #d0d6de;
	height: 16px;
	width: 100px;
}

#diyDatePicker button {
	width: 50px;
	height: 20px;
	/*line-height: 25px;*/
}