/*表格选项卡开始*/
.main.container {
    position: relative;
    min-height: 635px;
    margin-bottom: 35px;
    padding-top: 25px;
}

.table-navbox {
    position: relative;
    border: 1px solid #d0d6de;
    padding: 14px 12px 0 12px;
    margin: 0 0 12px 0;
}

.table-nav-all {
    display: inline-block;
    *display: inline;
    width: 80px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
}

.table-nav-all a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.table-nav {
    /*margin-bottom: 14px;*/
    margin-left: 100px;
}

.table-nav li {
    margin-left: 6px;
    width: 80px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 16px;
    /* border: 1px solid #000; */
    font-size: 14px;
}

.table-nav li a,
.table-nav li span{
    display: inline-block;
    *display: inline;
    width: 80px;
    height: 22px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.table-nav .table-more span {
    color: #999999;
}

.nav-active {
    color: #5470b5;
    border: 1px solid #5470b5;
    /*background-color: #e6e6e6;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-active a {
    color: #000;
}

/*nav表单选项卡结束*/


/*看速记听录音没有url时的样式*/
#hisConfBox .urlblank {
	color: #999999;
    cursor: text;
}

.datepicker-box {
	font-size: 14px;
}

.datepicker-box button {
	outline: none;
	color: #333;
	background-color: #fff;
	display: inline-block;
	padding: 1px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	/*vertical-align: middle;*/
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: top;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.datepicker-box button:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	text-decoration: none;
}

.datepicker-box button:active {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.diy-date {
	border: 1px solid #ccc;
	width: 12%;
	padding: 1px 10px;
	box-sizing: border-box;
}