.main.personal-main {
	position: relative;
	height: 695px;
	min-height: 695px;
}

/*个人信息开始*/
.person {
    /* width: 100%; */
	height: 50px;
    padding: 10px 20px 10px 14px;
    /* background-color: #f0f0f0; */
    border: 1px solid #d0d6de;
	margin-bottom: 5px;
}

.person .photo {
    /*margin-left: 50px;*/
    /*border: 1px solid #d0d6de;*/
}

.person .photo img {
	width: 50px;
}

.person p {
	line-height: 28px;
	margin-left: 20px;
	font-size: 14px;
}


/*个人信息结束*/
/*左侧导航开始*/
.myconf {
    position: absolute;
    /*display: inline-block;*/
    width: 126px;
    /*height: 600px;*/
    /*height: 100%;*/
    /*padding-top: 120px;*/
    /*line-height: 45px;*/
    line-height: 33px;
    text-align: center;
    /*background-color: #f0f0f0;*/
    background-color: #f4f4f4;
    /*border: 1px solid red;*/
	font-size: 14px;
}

.myconf ul li {
    cursor: pointer;
	height: 35px;
    border: 1px solid #d5d5d6;
	background-color: #ffffff;
    border-top: none;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.myconf ul li:hover {
	color: #aaa;
	/*background-color: #e80313;*/
}

.myFavChild {
    background-color: #fff;
}

.myconf .per-active {
	color: #ffffff;
	background-color: #5470b5;
}

/*左侧导航结束*/

/*表格开始*/
.myconf-table {
    /*padding-top: 120px;*/
    margin-left: 127px;
	font-size: 16px;
}

.myconf-table .table-content thead {
    height: 34px;
    line-height: 34px;
	/*background-color: #3f8de8;*/
	background-color: #5470b5;
}

.myconf-table .table-content tbody {
    /*line-height: 45px;*/
}

.myconf-table .table-content tbody tr {
	height: 34px;
	line-height: 34px;
}

.myconf-table .table-content .conf-date {
    width: 125px;
    text-align: center;
	/*font-size: 14px;*/
}

.myconf-table .table-content .conf-time {
	width: 125px;
	text-align: center;
	/*font-size: 14px;*/
}

.myconf-table .table-content .conf-title {
    width: 450px;
    text-align: center;
}

.myconf-table .table-content .conf-handle {
    width: 200px;
    text-align: center;
	font-size: 14px;
}

.myconf-table .table-content .conf-master {
    width: 90px;
}

.myconf-table .table-content td.conf-master {
	text-align: left;
}

.myconf-table .table-content .conf-speach {
    width: 80px;
    text-align: center;
}

.myconf-table .table-content .conf-title {
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
    -ms-word-break: keep-all;
    word-break: keep-all;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

/*表格结束*/
/*分页位置*/
.personal-main .page-index {
	right: 0;
	bottom: 0;
}
/*翻页按钮结束*/
/*我的信息开始*/
.msg {
    position: relative;
    padding: 10px 0 10px 80px;
    border:1px solid #ddd;
    border-left: none;
    border-right: none;

}

.msg p {
    line-height: 2;
}

.msg img {
    position: absolute;
    left: 45px;
    top: 12px;
    width: 25px;
    height: 20px;
}
/*我的信息结束*/

/*看速记听录音没有url时的样式*/
#myConfList .urlblank {
	color: #999999;
	cursor: text;
}

/*.footer {*/
	/*position: absolute;*/
	/*bottom: 0;*/
/*}*/

.load3 .loader {
	font-size: 10px;
	margin: 0 auto;
	text-indent: -9999em;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.load3 .loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.load3 .loader:after {
	background: #b6b6b6;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.loadcontainer {
	/*border: 1px solid rgba(255, 255, 255, 0.2);*/
	width: 12px;
	height: 12px;
	/*float: left;*/
	position: relative;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.loadcontainer-signup {
	/*border: 1px solid rgba(255, 255, 255, 0.2);*/
	width: 12px;
	height: 12px;
	/*float: left;*/
	position: relative;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}